# Add a leading slash '/' to ONLY ignore these folders at the project root.
# This prevents them from matching folders inside 'extern'.
/build/
/bin/

*.exe
*.o
*.obj

.vscode/
.idea/

*.dll
*.lib
*.a

!extern/SDL2/
!extern/SDL2/**
!extern/SDL2_mixer/
!extern/SDL2_mixer/**